aside{
    width: auto;
    flex-shrink: 0;
    background-color: #152b40; 
    height: 100%;
    color: white; 
}

.ms-nav-ul .ms-nav-li{
    list-style: none;
   
}

 .ms-nav-li .link-nav > i{
    font-size: 1rem;
    width: 1.25rem;
    transition: background-color 2s;
}
.ms-nav-li .link-nav:hover{
    background-color: lightgrey;
}

.ms-main-nav .ms-nav-li{
    display: flex;
    align-items: center;
    padding: .375rem;    
}

.ms-main-nav .link-nav{
    text-decoration: none;
    color: white;      
}
span{
    display: inline-block;
}



