.ms-img-width{
   width: 2.5rem; 
}

.text-bg-primary{
   background-color: #155cbf;
   border-radius: .625rem;
   font-size: .875rem;
   cursor: pointer;

}

.ms-d-responsive-reverse{
   display: inline-block;
}


.ms-small-container{
   width: calc(100% - 30px);
   background-color: rgba(21, 114, 232, 0.8);
   

}

.ms-d-flex-space{
   display: flex;
   justify-content: space-between;
}