.main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%; 
    
}

.d-main{
    display: inline-block;
}
.ms-height-card{
    height: 100%;
}
    
 .ms-table{
    height: 100%;
    border: 1px solid lightgray;
 }   

.ms-img-avatar{
    max-width: 2.5rem;
}