/* responsive */
/* responsive sm (min width 576px ) */
@media screen and (min-width:576px) {
   
}
/* /responsive sm (min width 576px ) */

/* responsive md (min width 768px ) */
@media screen and (min-width:768px) {
    
}
/* /responsive md (min width 768px ) */

/* responsive lg (min width 992px ) */
@media screen and (min-width:992px) {
   .ms-d-responsive{
    display: inline-block;
   }

   .ms-d-responsive-reverse{
    display:none
 }
   .ms-img-width{
    width: 3.125rem;
   }

   .margin-student-online{
    padding-bottom: 4.375rem;
}
.ms-d-table{
    display:table-cell;
}
.ms-img-avatar{
    max-width: 1.875rem;
}
}
/* /responsive lg (min width 992px ) */
/*/ responsive */
